form button {
    padding: 10px 16px;
    border-radius: 10px;
    border: 0;
    font-family: Tahoma;
    font-size: 16px;
    background: #001F52;
    color:#034078;
    margin: 0 8px 10px 0;
}
body{
  background-color:#FEFCFB;
  font-family:Helvetica, Arial;
  color:#0A1128;
}
main {
  padding: 20px 0;
}

section {
  margin-bottom: 100px;
}

main h1 {
  margin: 0 10px;
  border-bottom: 1px solid #819EBA;
}

main h2 {
  margin: 12px 10px;
  border-bottom: 1px solid #819EBA;
}



label{
  font-family:"Helvetica","Arial";
  font-variant:small-caps;
  color:#B5D6E0;
}

/* Groups & Items  (Mobile First) */

.group {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}

.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
  margin: 10px;
}

/* ---  (Desktop) Groups & Items --- */

@media all and (min-width: 800px) {
  section {
    padding: 0 10%;
  }
  .group {
    flex-direction: row;
  }
}

/* ---  Contact Form Design --- */

form {
  padding-right: 6px;
  /* Fixed small sizing issue on the right */
}

form input,
form textarea {
  width: 100%;
  margin-bottom: 20px;
}

form textarea {
  height: 160px;
}
